@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


*{
  /*background: var(--primary);*/
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: Itim;
}


:root {
  --primary: #d8ffd4;
  --secondary: #005730;
  --black: #000;
  --white: #fff;
  --verde: #bcdbb9;
  --cinza:#9c9797;
}


body{
  background-color: var(--primary);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 0.2rem solid var(--secondary);
  height: 5rem;
  background-color: var(--verde);
  width: 100vw ;

}

header input#menu {
  display: none;
 }
header div{
    align-items: center;
    display: flex;
}


header div img{
    background-color: transparent;
    height: 4rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

header nav div {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin: 1.7rem;
}

header nav div a {
color: initial;
text-decoration: none;
font-size: x-large;
}

header nav div a:hover{
  color: #005730;
}


  /* header nav div form {
 background-color: 1rem;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin: 1.7rem;
}


header nav div form img{
    background-color: transparent;
    height: 1.5rem;
    margin: 0.5rem;
}


header nav div form input {
    background-color: transparent;
    font-size: 1rem;
    border: transparent;
    margin-left: 0.5rem;
    border-radius: 1rem;
   
}*/

main {
    min-height: calc(100vh - 8rem);
    min-width: 100vw ;
    text-decoration: none;
    justify-items: center;
    align-items: center;
  }


.login{
    justify-items: center;
    background-color: #ffffff;
    border-radius: 2rem;
    box-shadow: 10px 10px 20px #8d8b8b;
    height: 65vh;
    width: 40vw;
    margin-top: 5%;


}
.cadastro{
  justify-items: center;
  background-color: #ffffff;
  border-radius: 2rem;
  box-shadow: 10px 10px 20px #8d8b8b;
  height: 80vh;
  width: 40vw;
  margin: 2%;

}
main div h1{
  padding-top: 1rem;
    background-color: transparent;


}


  main div section {
    background-color: transparent;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
  }


  main div section h3{
    background-color: transparent;
    margin: 1rem;
  }


  main div section input{
    background-color:#ececec;  
    border-radius: 1rem;
    margin: 0.5rem;
    width: 30vw;
    height: 2.1rem;
    font-size: large;
   
  }


  main div section button{
    background-color:var(--secondary);  
    border-radius: 2rem;
    width: 10vw;
    height: 5vh;
    font-size: large;
    margin-top: 1rem;
    color: var(--white);


  }


  main div section button:hover{
    background-color:var(--primary);  
    color: var(--black);


  }


  main div section a{
 background-color: transparent;
 text-decoration: none;
 color: inherit;


  }


  main div section a:hover{
    color: var(--secondary);
   
     }
     
    @media(max-width: 500px) {
      main {
        flex-direction: column;
        align-items: center;
      }
      header nav div {
          display: none;
      }
      header{
        flex-direction: row-reverse;
        width: 100%;
      }
      header nav label {
          margin-left: 0.5rem;
          margin-top: 1rem;
          border: 0.18rem solid var(--secondary);
          width: 2.5rem;
          height: 2.5rem;
          display: flex;
          align-items: center;
          justify-content: space-around;
          flex-direction: column;
          cursor: pointer;
          border-radius: 0.5rem;
      }
     
     
      header nav label span {
          border: 0.1rem solid var(--secondary);
          width: 1.6rem;
          height: 0.1rem;
          border-radius: 20rem;
      }
     
     
      header nav label span:first-child {
          margin-top: 0.2rem;
      }
     
     
      header nav label span:last-child {
          margin-bottom: 0.2rem;
      }
     
     
      header input#menu:checked~nav div {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 4rem;
          left: 0.5rem;
      }
      .login,
      .cadastro {
        width: 90vw;
        height: auto;
      }
    
      main div section input {
        width: 80vw;
      }
    
      main div section button {
        width: 50vw;
        height: 3rem;
      }
    }




