@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
   /* background: var(--primary);*/
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Itim;
}

:root {
    --primary: #d8ffd4;
    --secondary: #005730;
    --black: #000;
    --white: #fff;
    --verde: #bcdbb9;
    --cinza:#9c9797;
 }
 
body{
    background-color: var(--primary);
 }
 
 header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.2rem solid var(--secondary);
    height: 5rem;
    background-color: var(--verde);
 
 }
 
header div{
    align-items: center;
    display: flex;
}

header div img{
    background-color: transparent;
    height: 4rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

header nav div form {
    background-color: var(--white);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin: 1.7rem;
}

header nav div form img{
    background-color: transparent;
    height: 1.5rem;
    margin: 0.5rem;
}

header nav div form input {
    background-color: transparent;
    font-size: 1rem;
    border: #fff;
    margin-left: 0.5rem;
    border-radius: 1rem;
}
header nav div a {
    color: initial;
    text-decoration: none;
    font-size: x-large;
    }
    
    header nav div a:hover{
      color: #005730;
    }


main {
    min-height: calc(100vh - 8rem);
    margin-bottom: 1rem;
  }

  main section div {
    background-color: transparent;

  }

  main section {
    margin-left: 1.5rem;

  }
  main section div h2{
    margin-top:1rem;
    align-items: center;
    text-decoration: none;
  }
  
  main section p{
    border-top: 2rem;
    align-items: center;
    text-decoration: none;
    text-align: justify;
    font-size: 1em;
  }

  main section  p b{
    border-top: 2rem;
    align-items: center;
    text-decoration: none;
    text-align: justify;
    font-size: x-large;
  }
  main section div img {
    border-top: 2rem;
    height: 15rem;
    align-items: center;
    background-color: transparent;
    border-radius: 0.3rem;
  }
  .estrelas input[type=radio] {
    display: none;
  }
  .estrelas label i.fa:before {
    content:'\f005';
    color: #FC0;
  }
  .estrelas input[type=radio]:checked ~ label i.fa:before {
    color: #CCC;
  }
  .estrelas h3{
    margin-top: 1rem;

  }

 main section div.salvar-receita {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: var(--black);
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    margin-left: 80%;
    margin-top: 1rem;
    width: 10vw;

  }

  main section div.salvar-receita {
    background-color: var(--verde);
  }

  main section div.salvar-receita svg {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    fill: #000;

  }
  
main section div.salvar-receita svg {
    fill: #007f5f;
  }


footer {
    border-top: 0.3rem solid var(--secondary);
    height: 1.5rem;
    border-left: 0;
}

footer aside {
    max-width: 1040px;
    margin: 0 auto;
}

