@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');



*{
   /*background: var(--primary);*/
   margin: 0;
   padding: 0;
   outline: 0;
   font-family: Itim;
}


:root {
   --primary: #d8ffd4;
   --secondary: #005730;
   --black: #000;
   --white: #fff;
   --verde: #bcdbb9;
   --cinza:#9c9797;
}


body{
   background-color: var(--primary);
}

header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   border-bottom: 0.2rem solid var(--secondary);
   height: 5rem;
   background-color: var(--verde);

}


header div{
   align-items: center;
   display: flex;
  
}


header div img{
   background-color: transparent;
   height: 10vh;
   margin-left: 0.5rem;
   margin-right: 0.5rem;
}
header nav div button{


   background-color: var(--secondary);
   color: var(--white);
   border-radius: 5rem;
   padding: 0.5em;
   text-decoration: none;
   margin-bottom: 1rem;
   width: 10rem;
   margin-left: 0.5rem;
   margin-top: 1rem;
   box-shadow: 0 4px #000000;
  
}


header nav div button:hover{
   background-color: #0ba560;
 
}
header nav div button:active {
   transform: translateY(2px);
   box-shadow: 0 2px #2d7038;


}
header nav div form {
   background-color: var(--white);
   border-radius: 1rem;
   display: flex;
   align-items: center;
   margin: 1rem;
}


header nav div form img{
   background-color: transparent;
   height: 1.5rem;
   margin: 0.5rem;
}


header nav div form input {
   background-color: transparent;
   font-size: 1rem;
   border:var(--white);
   margin-left: 1rem;
   border-radius: 1rem;
}


 header nav div a {
   text-decoration: none;
   font-size: 1.5rem;
   color: inherit;
   margin-right: 1rem;


}


header nav div a:hover{
color: var(--secondary);
transform: scale(1.2);


}






main {
   margin: auto;
   display: flex;
   min-height: calc(100vh - 1rem);
   max-width: calc(100vw - 5rem);
 }


 #index {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 0.5rem;
   margin-left: auto;
   width: 100vw;
 }


 #index section a  {
   text-decoration: none;
   color: inherit;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: transparent;
   padding: 1rem;
 }
   #index section {
       background-color: var(--verde);
       border: 0.3rem solid var(--secondary);
       border-radius: 2rem;
       /*box-shadow: 5px 5px 20px var(--cinza);*/
       height: 45vh;
       width: 25vw;
       margin: 1rem;
   
     }
    
     #index section:hover {
       transform: scale(1.03);
       filter: brightness(1.05);
     }


     #index section img {
       height: 30vh;
       width: 20vw;
       background-color: transparent;
       margin-top: 5%;
     }
    
      #index section h3 {
       background-color: transparent;
        
     }
 #index h1 {
   grid-column: 1 / -1;
   text-align: center;
   padding: 1rem;  
 }








main div small{
   font-size: 1.2rem;
   font-weight: bold;
}


main div:first-child section{
   background-color: var(--verde);
   border: 0.3rem solid var(--secondary);
   border-radius: 2rem;
   box-shadow: 5px 5px 20px var(--cinza);
   height: 40vh;
   width: 30vw;
   margin: 1.5rem;
   padding-top: 1rem;
   margin-top: 40%;
   justify-items: center;
  
}


main div:first-child section:hover{
   transform: scale(1.03);
   filter: brightness(1.05);
}


main div:first-child section iframe{
   height: 30vh;
   width: 25vw;
   background-color: transparent;
   margin-top: 5%;
}


 main div:first-child section h3{
background-color: transparent;


}


footer {
   border-top: 0.3rem solid var(--secondary);
   height: 1.5rem;
   border-left: 0;
}


footer aside {
   max-width: 1040px;
   margin: 0 auto;
}


header input#menu {
 display: none;
}


@media(max-width: 750px) {
 main {
   flex-direction: column;
   align-items: center;
 }
 header nav div {
     display: none;
 }
 header{
   flex-direction: row-reverse;
 }
 header nav label {
     margin-left: 0.5rem;
     margin-top: 1rem;
     border: 0.18rem solid var(--secondary);
     width: 2.5rem;
     height: 2.5rem;
     display: flex;
     align-items: center;
     justify-content: space-around;
     flex-direction: column;
     cursor: pointer;
     border-radius: 0.5rem;
 }


 header nav label span {
     border: 0.1rem solid var(--secondary);
     width: 1.6rem;
     height: 0.1rem;
     border-radius: 20rem;
 }


 header nav label span:first-child {
     margin-top: 0.2rem;
 }


 header nav label span:last-child {
     margin-bottom: 0.2rem;
 }


 header input#menu:checked~nav div {
     display: flex;
     flex-direction: column;
     position: absolute;
     top: 4rem;
     left: 0.5rem;
 }


 #index {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.5rem;
}
main  {
  display: flex;
  flex-direction: column-reverse;
  min-width: 80vw;
}


#index section {
   background-color: var(--verde);
   border: 0.3rem solid var(--secondary);
   border-radius: 1rem;
   height: 20rem;
   width: 20rem;
    margin-top: 1rem;
}
 


 #index section img {
   height: 15rem;
   width: 15rem;
   background-color: transparent;
   margin-top: 5%;
 }




main div:first-child section{
 background-color: var(--verde);
 border: 0.3rem solid var(--secondary);
 border-radius: 1rem;
 height:20em;
 width:20rem;
margin-top: 1rem;
margin-right: 5rem;

}


main div:first-child  section img{
width: 40vw;
height: 30vh;
}
}
